version: '3.1'
services:

  nomis-oauth2-server:
    image: mojdigitalstudio/nomis-oauth2-server:latest
    container_name: nomis-oauth2-server
    ports:
    - "9090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
    - SERVER_PORT=8080
    - SPRING_PROFILES_ACTIVE=dev-seed
