server:
  servlet:
    context-path: /auth
  use-forward-headers: true
  tomcat:
    remote-ip-header: x-forwarded-for
    protocol_header: x-forwarded-proto

spring:
  datasource:
    url: 'jdbc:h2:mem:nomis;MODE=Oracle'
    type: com.zaxxer.hikari.HikariDataSource
  flyway:
    enabled: false

  jpa:
    hibernate:
      hbm2ddl:
         auto: none
    properties:
      hibernate:
        show_sql: true
    open-in-view: false
    database: default

# PostgreSQL DB - "auth"
auth:
  datasource:
    url: 'jdbc:h2:mem:auth;MODE=PostgreSQL'
  jpa:
    hibernate:
      hbm2ddl:
        auto: none
    properties:
      hibernate:
        show_sql: true

logging.level.uk.gov: INFO
management:
  endpoints:
    web:
      base-path: /
