<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Maintain Client Configuration</title>
</head>
<body>

<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <h1 th:unless="${param.client}" class="govuk-heading-l">Add client</h1>
  <h1 th:if="${param.client}" class="govuk-heading-l">Edit client '<span th:text="${param.client[0]}"></span>'</h1>

  <form th:action="@{/ui/clients/edit}" method="post">
    <input type="hidden" th:if="${param.client}" id="clientId" name="clientId" th:value="${clientDetails.clientId}"/>
    <!-- signalize new client -->
    <input type="hidden" th:unless="${param.client}" name="newClient" value="true"/>

    <div class="govuk-form-group">
      <div class="govuk-form-group" th:unless="${param.client}">
        <label class="govuk-label" for="clientId">Client ID</label>
        <input class="govuk-input" id="clientId" type="text" name="clientId" th:value="${clientDetails.clientId}"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="clientSecret">Client Secret</label>
        <input class="govuk-input" id="clientSecret" type="password" name="clientSecret" readonly="readonly"
               onfocus="this.removeAttribute('readonly');"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="registeredRedirectUri">Registered redirect URIs</label>
        <input class="govuk-input" id="registeredRedirectUri" name="registeredRedirectUri" type="text"
               th:value="${clientDetails.registeredRedirectUri} ? ${#strings.setJoin(clientDetails.registeredRedirectUri, ',')} : ''"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="accessTokenValiditySeconds">Access token validity</label>
        <input class="govuk-input" id="accessTokenValiditySeconds" name="accessTokenValiditySeconds" type="text"
               th:value="${clientDetails.accessTokenValiditySeconds}"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="refreshTokenValiditySeconds">Refresh token validity</label>
        <input class="govuk-input" id="refreshTokenValiditySeconds" name="refreshTokenValiditySeconds" type="text"
               th:value="${clientDetails.refreshTokenValiditySeconds}"/>
      </div>
    </div>

    <div class="pure-u-xs-12 pure-u-md-3">
      <div class="govuk-form-group">
        <label class="govuk-label" for="resourceIds">Resource IDs</label>
        <input class="govuk-input" id="resourceIds" type="text" name="resourceIds"
               th:value="${#strings.setJoin(clientDetails.resourceIds, ',')}"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="scopes">Approved Scopes</label>
        <input class="govuk-input" id="scopes" type="text" name="scope"
               th:value="${#strings.setJoin(clientDetails.scope, ',')}"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="authorities">Authorities</label>
        <input class="govuk-input" id="authorities" type="text" name="authorities"
               th:value="${#strings.setJoin(clientDetails.authorities, ',')}"/>
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label">Grant Types</label>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" type="checkbox" name="authorizedGrantTypes" id="client_credentials"
                 value="client_credentials" th:field="*{clientDetails.authorizedGrantTypes}"/>
          <label class="govuk-label govuk-checkboxes__label" for="client_credentials">client_credentials</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" type="checkbox" name="authorizedGrantTypes" id="implicit"
                 value="implicit" th:field="*{clientDetails.authorizedGrantTypes}"/>
          <label class="govuk-label govuk-checkboxes__label" for="implicit">implicit</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" type="checkbox" name="authorizedGrantTypes" id="authorization_code"
                 value="authorization_code" th:field="*{clientDetails.authorizedGrantTypes}"/>
          <label class="govuk-label govuk-checkboxes__label" for="authorization_code">
            authorization_code
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" type="checkbox" name="authorizedGrantTypes" id="refresh_token"
                 value="refresh_token" th:field="*{clientDetails.authorizedGrantTypes}"/>
          <label class="govuk-label govuk-checkboxes__label" for="refresh_token">refresh_token</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" type="checkbox" name="authorizedGrantTypes" id="password"
                 value="password" th:field="*{clientDetails.authorizedGrantTypes}"/>
          <label class="govuk-label govuk-checkboxes__label" for="password">password</label>
        </div>
      </div>
    </div>

    <div class="govuk-form-group">
      <div class="govuk-form-group">
        <label class="govuk-label" for="jwtFields">JWT Fields Configuration</label>
        <span class="govuk-hint">
          Comma separated list of fields, prefixed with + to add, - to remove e.g. +name,-user_id
        </span>
        <input class="govuk-input" id="jwtFields" type="text" name="jwtFields" readonly="readonly"
               onfocus="this.removeAttribute('readonly');"
               th:value="${clientDetails.additionalInformation['jwtFields']}"/>
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="skipToAzureField">Azure Ad Login Flow</label>
      <span class="govuk-hint">
          Customize behaviour of Azure AD login
        </span>
      <div class="govuk-checkboxes__item">
        <input name="_skipToAzureField" type="hidden" value="on"/>
        <input class="govuk-checkboxes__input" type="checkbox" name="skipToAzureField" id="skipToAzureField"
               th:checked="*{clientDetails.additionalInformation['skipToAzureField']}"/>
        <label class="govuk-label govuk-checkboxes__label" for="skipToAzureField">Auto redirect</label>
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="mfa">Multi Factor Authentication</label>
      <span class="govuk-hint">
          Require additional verification to access this service
        </span>
    </div>
    <div class="govuk-form-group">
      <div class="govuk-checkboxes__item">
        <input name="_mfa" type="hidden" value="on"/>
        <input class="govuk-checkboxes__input" type="checkbox" name="mfa" id="mfa"
               th:checked="*{clientDetails.additionalInformation['mfa']}"/>
        <label class="govuk-label govuk-checkboxes__label" for="mfa">Access from untrusted networks</label>
      </div>
    </div>

    <div class="govuk-form-group">
      <div class="govuk-form-group">
        <label class="govuk-label" for="databaseUsernameField">Database Username</label>
        <span class="govuk-hint">
          For client credentials only, the username to "alias" in database when changing data e.g. API_USER
        </span>
        <input class="govuk-input" id="databaseUsernameField" type="text" name="databaseUsernameField" readonly="readonly"
               onfocus="this.removeAttribute('readonly');"
               th:value="${clientDetails.additionalInformation['databaseUsernameField']}"/>
      </div>
    </div>

    <input type="submit" class="govuk-button" name="client-submit" value="Save">
  </form>
</div>
</body>
</html>
