<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Welcome</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1 class="heading-large">Welcome <span sec:authentication="name"></span></h1>
    <div class="pure-u-md-8-12">
        Roles: <span sec:authentication="principal.authorities"></span>
        <br/>
        <a href="/" th:href="@{/logout}">Sign Out</a>
    </div>
</div>
</body>
</html>