<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Services Dashboard</title>

  <link rel="stylesheet" th:href="@{/css/moj-sortable-table.0.2.5.css}">
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Services dashboard</h1>

  <div sec:authorize="hasRole('ROLE_OAUTH_ADMIN')">
    <h2 class="govuk-heading-m">Services</h2>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" aria-sort="ascending">Name</th>
        <th class="govuk-table__header" scope="col" aria-sort="none">Description</th>
        <th class="govuk-table__header" scope="col" aria-sort="none">Roles</th>
        <th class="govuk-table__header" scope="col" aria-sort="none">Url / email</th>
        <th class="govuk-table__header" scope="col" aria-sort="none">Enabled</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr th:each="service : ${serviceDetails}" class="govuk-table__row" th:attr="data-qa=${service.code}">
        <td th:text="${service.name}" class="govuk-table__cell"></td>
        <td th:text="${service.description}" class="govuk-table__cell"></td>
        <td th:text="${service.roles}" class="govuk-table__cell"></td>
        <td class="govuk-table__cell">
          <span th:text="${service.url}"></span>
          <span th:if="${#strings.isEmpty(service.email)}" th:text="${'/ no email set'}"></span>
          <span th:unless="${#strings.isEmpty(service.email)}" th:text="${' / ' + service.email}"></span>
        </td>
        <td th:text="${service.enabled}" class="govuk-table__cell"></td>
        <td>
          <a th:id="'edit-' + ${service.code}" role="button" class="govuk-button"
             th:href="@{/ui/services/form?code=__${service.code}__}">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="govuk-body">
      <a class="govuk-button" role="button" id="edit-service" th:href="@{/ui/services/form}">Add service</a>
    </p>
  </div>
</div>

<th:block layout:fragment="script">
  <!--[if !IE 8]><!-->
  <script>
    window.MOJFrontend = {}
  </script>
  <script th:src="@{/js/jquery.3.6.0.min.js}"></script>
  <script th:src="@{/js/moj-sortable-table.0.2.5.min.js}"></script>
  <script>
    var SortableTable = window.MOJFrontend.SortableTable
    var $sortableTable = document.querySelector('[data-module="moj-sortable-table"]')
    if ($sortableTable) {
      new SortableTable({table: $sortableTable})
    }
  </script>
  <!--<![endif]-->
</th:block>

</body>
</html>
