<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title th:text="${type=='email'} ? 'Change Email Request' : 'Change Password Request'"></title>

  <!--[if !IE 8]><!-->
  <script type="text/javascript">
    function showHide(field) {
      var pwd = document.getElementById(field);
      var showButton = document.getElementById('show-' + field);
      if (pwd.getAttribute('type') === 'password') {
        pwd.setAttribute('type', 'text');
        showButton.innerHTML = 'hide';
      } else {
        pwd.setAttribute('type', 'password');
        showButton.innerHTML = 'show';
      }
    }
  </script>
  <!--<![endif]-->
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div th:if="${error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
       data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li th:each="e: ${error}">
          <a href="#password"
             th:text="#{${'existingpassword.' + e}(${@environment.getProperty('application.authentication.lockout-count')})}">
            Invalid message</a>
        </li>
      </ul>
    </div>
  </div>

  <form th:action="@{/existing-password}" method="POST" id="existingpasswordForm" class="govuk-input-w">
    <div class="govuk-form-group govuk-visually-hidden">
      <input name="type" type="hidden" data-element-id="type" th:value="${type}"/>

      <label class="govuk-label" for="username">Username</label>
      <input id="username" name="username" type="text" th:value="${username}" autocomplete="username"/>
    </div>
    <div th:class="'govuk-form-group' + (${error} ? ' govuk-form-group--error' : '')">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--xl" for="password">What is your current password?
        </label>
      </h1>
      <div data-qa="password-error" th:each="e: ${error}">
        <span th:id="'password-error-' + ${e}" class="govuk-error-message"
              th:text="#{${'existingpassword.' + e}(${@environment.getProperty('application.authentication.lockout-count')})}">
          Invalid password
        </span>
      </div>
      <div class="show-password">
        <input class="govuk-input" id="password" name="password" type="password"
               autocomplete="current-password" autofocus="autofocus" data-element-id="password" th:value="${password}">
        <button type="button" onclick="showHide('password')" id="show-password" class="govuk-button"
                data-module="govuk-button">
          show
        </button>
      </div>
    </div>
    <div class="govuk-form-group">
      <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
             value="Continue">
    </div>
  </form>
</div>
</body>
</html>
