#navigation {
  float: right;
}

#navigation a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

/* needed to show navigation in header for ie8 */
#navigation ul {
  display: block;
}

#navigation a:focus, #navigation a:hover {
  color: white;
  text-decoration: none;
  border-bottom-color: white;
}

#loginForm #username {
  text-transform: uppercase;
}
