#header-container {
  border-bottom-color: white;
}

@media (min-width: 48.0625em) {
  #header-logo {
    width: 50%;
  }

  #header-content {
    width: 50%;
  }

  #navigation {
    float: right;
  }
}

#navigation a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

#navigation a:focus, #navigation a:hover {
  color: white;
  text-decoration: none;
  border-bottom-color: white;
}

#loginForm #username {
  text-transform: uppercase;
}

#cancel {
  background-color: #dee0e2;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  #cancel {
    margin-left: 15px;
  }
}

.show-password {
  display: flex;
  position: relative;
}

.show-password input {
  padding-right: 50px;
}

.show-password button {
  font-size: 16px;
  background-color: #dee0e2;
  color: #0b0c0c;
  padding: 3px;
  margin-top: 7px;
  margin-left: 10px;
  width: auto;
  position: absolute;
  right: 5px;
  box-shadow: none;
}

.show-password button:focus, .show-password button:hover {
  background-color: #dee0e2;
  color: #0b0c0c;
}
