<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" th:with="showBack=true">
<head>
  <title>Account Details</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-full">

  <div role="alert">
    <h1 class="govuk-heading-xl">Account details</h1>
  </div>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Username
      </dt>
      <dd class="govuk-summary-list__value" data-qa="username" th:text="${authUser.username}">
        ABC12D
      </dd>
      <dd class="govuk-summary-list__actions">
        &nbsp;
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value" data-qa="name" th:text="${user.name}">
        Sarah Philips
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" th:href="@{/change-name}" th:if="${authUser.authSource == 'auth'}" data-qa="changeName">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last logged in
      </dt>
      <dd class="govuk-summary-list__value" data-qa="lastLoggedIn"
          th:text="${#temporals.format(authUser.lastLoggedIn, 'd MMMM yyyy HH:mm')}">
        24 January 2020 - 10:00:13
      </dd>
      <dd class="govuk-summary-list__actions">
        &nbsp;
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Password
      </dt>
      <dd class="govuk-summary-list__value" data-qa="passwordExpiry">
        ************
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" th:href="@{/existing-password}" data-qa="changePassword">
          Change <span class="govuk-visually-hidden"> password</span>
        </a>
      </dd>
    </div>
  </dl>
  <h2 class="govuk-heading-m" id="authentication">Authentication</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email
      </dt>
      <dd class="govuk-summary-list__value" data-qa="email" th:text="${authUser.email}">
        sarah.philips@digital.justice.gov.uk
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" th:href="@{/existing-email}" th:if="${authUser.authSource != 'delius'}"
           data-qa="changeEmail">
          <th:block th:text="${#strings.isEmpty(authUser.email)} ? 'Add' : 'Change'">
            Change
          </th:block>
          <span class="govuk-visually-hidden"> email</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email verified
      </dt>
      <dd class="govuk-summary-list__value" data-qa="verified" th:text="${authUser.verified} ? 'yes' : 'no'">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" th:href="@{/verify-email}"
           th:unless="${#strings.isEmpty(authUser.email) || authUser.verified}"
           data-qa="verifyEmail">
          Resend <span class="govuk-visually-hidden"> email</span> code
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Mobile
      </dt>
      <dd class="govuk-summary-list__value" data-qa="mobile" th:text="${authUser.mobile}">
        01234 567890
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" th:href="@{/change-mobile}" data-qa="changeMobile">
          <th:block th:text="${#strings.isEmpty(authUser.mobile)} ? 'Add' : 'Change'">
            Change
          </th:block>
          <span class="govuk-visually-hidden"> mobile</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Mobile verified
      </dt>
      <dd class="govuk-summary-list__value" data-qa="mobileVerified"
          th:text="${authUser.mobileVerified} ? 'yes' : 'no'">
        No
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" th:href="@{/mobile-resend}"
           th:unless="${#strings.isEmpty(authUser.mobile) || authUser.mobileVerified}"
           data-qa="verifyMobile">
          Resend <span class="govuk-visually-hidden"> mobile</span> code
        </a>
      </dd>
    </div>
  </dl>
</div>
</body>
</html>
