<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" th:with="showBack=true, returnTo=${returnTo}">
<head>
  <title>Your Account Details</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-full">
  <div class="govuk-body">
    <div th:unless="${#arrays.isEmpty(param.error)}" class="govuk-error-summary" aria-labelledby="error-summary-title"
         role="alert"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body" id="error-detail">
        <ul class="govuk-list govuk-error-summary__list">
          <li th:each="error: ${param.error}" th:switch="${error}">
            <a th:case="'mfainvalid'" href="#username"
               th:text="#{login.mfainvalid(${@environment.getProperty('application.authentication.lockout-count')})}">
              Mfa invalid message</a>
            <a th:case="'mfaexpired'" href="#username"
               th:text="#{login.mfaexpired(${@environment.getProperty('application.authentication.lockout-count')})}">
              Mfa expired message</a>
            <a th:case="'secondarytokeninvalid'" href="#secondaryEmail" th:text="#{verifyemail.token.invalid}">token invalid message</a>
            <a th:case="'secondarytokenexpired'" href="#secondaryEmail" th:text="#{verifyemail.token.expired}">token expired message</a>
            <a th:case="'mobiletokeninvalid'" href="#mobile" th:text="#{verifymobile.token.invalid}">token invalid message</a>
            <a th:case="'mobiletokenexpired'" href="#mobile" th:text="#{verifymobile.token.expired}">token expired message</a>
            <a th:case="'nomobile'" href="#mobile" th:text="#{verifymobile.nomobile}">no mobile message</a>
          </li>
        </ul>
      </div>
    </div>
  <div role="alert">
    <h1 class="govuk-heading-l">Your account details</h1>
  </div>
  <div th:unless="${authUser.authSource == 'azuread'}">
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" th:href="@{/existing-password}" data-qa="changePassword">
        Change your password
      </a>
    </p>
  </div>
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value" data-qa="name" th:text="${user.name}">
        Sarah Philips
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/change-name}"
           th:if="${authUser.authSource == 'auth'}" data-qa="changeName">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row" th:if="${usernameNotEmail == true} ">
      <dt class="govuk-summary-list__key">
        Username
      </dt>
      <dd class="govuk-summary-list__value" data-qa="username" th:text="${authUser.username}">
        ABC12D
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/use-email}"
           th:if="${canSwitchUsernameToEmail}" data-qa="useEmail">
          Use email
          <span class="govuk-visually-hidden"> instead</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt th:if="${usernameNotEmail == true}" class="govuk-summary-list__key" data-qa="usernameEmail">
        Email address
      </dt>
      <dt th:unless="${usernameNotEmail == true}" class="govuk-summary-list__key" data-qa="usernameEmail">
        Username / email
      </dt>
      <dd class="govuk-summary-list__value" data-qa="email" th:text="${authUser.email}">
        sarah.philips@digital.justice.gov.uk
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/existing-email}"
           th:if="${authUser.authSource != 'delius' && authUser.authSource != 'azuread'}"
           data-qa="changeEmail">
          <th:block th:text="${#strings.isEmpty(authUser.email)} ? 'Add' : 'Change'">
            Change
          </th:block>
          <span class="govuk-visually-hidden"> email</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Verified email
      </dt>
      <dd class="govuk-summary-list__value" data-qa="verified" th:text="${authUser.verified} ? 'Yes' : 'No'">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/verify-email}"
           th:unless="${#strings.isEmpty(authUser.email) || authUser.verified}"
           data-qa="verifyEmail">
          Resend <span class="govuk-visually-hidden"> email</span> code
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Backup email
      </dt>
      <dd class="govuk-summary-list__value" id="secondaryEmail" data-qa="secondaryEmail" th:text="${authUser.secondaryEmail}">
        bob@digital.justice.gov.uk
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/account/mfa-challenge(contactType=backup-email)}"
           data-qa="changeSecondaryEmail">
          <th:block th:text="${#strings.isEmpty(authUser.secondaryEmail)} ? 'Add' : 'Change'">
            Change
          </th:block>
          <span class="govuk-visually-hidden"> backup email</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Verified backup email
      </dt>
      <dd class="govuk-summary-list__value" data-qa="verifiedSecondaryEmail"
          th:text="${authUser.secondaryEmailVerified} ? 'Yes' : 'No'">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/backup-email-resend}"
           th:unless="${#strings.isEmpty(authUser.secondaryEmail) || authUser.secondaryEmailVerified}"
           data-qa="verifySecondaryEmail">
          Resend <span class="govuk-visually-hidden">backup email</span> code
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Mobile number
      </dt>
      <dd class="govuk-summary-list__value" id="mobile" data-qa="mobile" th:text="${authUser.mobile}">
        01234 567890
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/account/mfa-challenge(contactType=mobile)}" data-qa="changeMobile">
          <th:block th:text="${#strings.isEmpty(authUser.mobile)} ? 'Add' : 'Change'">
            Change
          </th:block>
          <span class="govuk-visually-hidden"> mobile number</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Verified mobile
      </dt>
      <dd class="govuk-summary-list__value" data-qa="mobileVerified"
          th:text="${authUser.mobileVerified} ? 'Yes' : 'No'">
        No
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/mobile-resend}"
           th:unless="${#strings.isEmpty(authUser.mobile) || authUser.mobileVerified}"
           data-qa="verifyMobile">
          Resend <span class="govuk-visually-hidden"> mobile</span> code
        </a>
      </dd>
    </div>
    <div th:class="govuk-summary-list__row">
      <dt th:class="'govuk-summary-list__key' + (${!mfaPreferenceVerified} ? ' govuk-form-group--error' : '')">
        2-step verification
      </dt>
      <dd class="govuk-summary-list__value" data-qa="mfaPreference">
        <span th:text="#{${'mfa.preference.' + authUser.mfaPreference}}">
           None
        </span>
        <span th:if="${!mfaPreferenceVerified}"
              id="mfa-preference-not-verified-error" class="govuk-error-message"
              th:text="'Selection has not been verified'">
          preference
        </span>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" th:href="@{/mfa-preference}" data-qa="changeMfaPreference">
          Change <span class="govuk-visually-hidden"> 2-step verification preference</span>
        </a>
      </dd>
    </div>
  </dl>


  <div th:if="${#lists.size(linkedAccounts) > 0}">
    <div role="alert" data-qa="linkedAccountsHeading">
      <h1 class="govuk-heading-l">Your linked accounts</h1>
    </div>
    <dl class="govuk-summary-list" th:each="account, iter : ${linkedAccounts}" data-qa="linkedAccount">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          System
        </dt>
        <dd class="govuk-summary-list__value" th:attr="data-qa='system-'+${iter.index}" th:text="${account.systemName}">
          NOMIS
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Username
        </dt>
        <dd class="govuk-summary-list__value" th:attr="data-qa='username-'+${iter.index}" th:text="${account.username}">
          TEST_USER
        </dd>
      </div>
    </dl>
  </div>
</div>
</body>
</html>
