<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Change Mobile Number</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds" th:with="error=${param.error ?: error}">
  <div th:if="${error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
       data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a th:href="${'#mobile'}" th:text="#{${'verifymobile.' + error}}">Change
            mobile number message</a>
        </li>
      </ul>
    </div>
  </div>
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--xl" for="mobile">What is your new mobile phone number?
    </label>
  </h1>
  <form class="form" th:action="@{/change-mobile}" method="POST" id="changeMobileForm">
    <div th:class="'govuk-form-group' + (${error} ? ' govuk-form-group--error' : '')">
      <span th:if="${error}" id="mobile-error" class="govuk-error-message"
            th:text="#{${'verifymobile.' + error}}">No error</span>
      <span id="mobile-number-hint" class="govuk-hint">
    Must be a UK mobile number, for example 07700 900321 or +44 7700 900321
      </span>
      <input th:class="'govuk-input govuk-input--width-20'  + (${error} ? ' govuk-input--error' : '')"
             id="mobile" name="mobile" type="tel" inputmode=”numeric” pattern="[+0-9 ]*" autocomplete="tel"
             autocapitalize="off" spellcheck="false" data-element-id="mobile"
             aria-describedby="mobile-number-hint mobile-error"
             maxlength="20" th:value="${mobile}">
    </div>
    <input class="govuk-button" id="submit" type="submit" role="button"
           data-element-id="continue-button" th:value="(${mobile == null} ? 'Add' : 'Update')">
  </form>

  <p class="govuk-body">
    We will use your number to confirm your identity if necessary when logging in.
  </p>
</div>
</body>
</html>
