<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Change Password</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div role="alert" tabindex="-1">
        <h1 class="form-title heading-large">Your password has expired</h1>
        You need to create a new password to sign in.
    </div>
    <br>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <form class="form" th:action="@{/change-password}" method="POST" id="loginForm">
                <input class="form-control" id="username" name="username" type="hidden"
                       data-element-id="username" th:value="${param.username}">
                <div th:class="'form-group' + (${param.errorcurrent} ? ' form-group-error' : '')">
                    <label class="form-label" for="password">Current password</label>
                    <div th:class="error-message" th:if="${param.errorcurrent}" id="errorcurrent"
                         th:switch="${#httpServletRequest.getParameter('errorcurrent')}">
                        <th:block th:case="'invalid'">Your password is incorrect. Try again.</th:block>
                        <th:block th:case="'missing'">Enter your current password</th:block>
                    </div>
                    <input class="form-control" id="password" name="password" type="password"
                           data-element-id="password" autofocus="autofocus" autocomplete="current-password">
                </div>
                <div th:class="${param.errornew} ? ' form-group-error' : ''">
                    <div class="form-group">
                        <label class="form-label" for="newPassword">New password</label>
                        <span class="form-hint">Your password must:
                            <ul class="list-bullet">
                                <li>have at least 9 characters (14 characters if an admin)</li>
                                <li>have both numbers and letters</li>
                                <li>not use special characters, for example &*!'</li>
                            </ul>
                        </span>
                        <div th:class="error-message" th:if="${param.errornew}" id="errornew"
                             th:switch="${#httpServletRequest.getParameter('errornew')}">
                            <th:block th:case="'length9'">Your password must have at least 9 characters</th:block>
                            <th:block th:case="'length14'">Your password must have at least 14 characters</th:block>
                            <th:block th:case="'username'">Your password cannot include your username</th:block>
                            <th:block th:case="'four'">Your password must have at least 4 unique characters</th:block>
                            <th:block th:case="'alphanumeric'">Your password must have only letters and numbers
                            </th:block>
                            <th:block th:case="'nodigits'">Your password must have both letters and numbers</th:block>
                            <th:block th:case="'alldigits'">Your password must have both letters and numbers</th:block>
                            <th:block th:case="'mismatch'">Your passwords do not match. Enter matching passwords.
                            </th:block>
                            <th:block th:case="'validation'">Your password does not meet the password rules. Try a
                                different password.
                            </th:block>
                            <th:block th:case="'reused'">Enter a password you have not used before</th:block>
                            <th:block th:case="*">There was a problem. Enter your password again.</th:block>
                        </div>
                        <input th:class="'form-control' + (${param.errornew} ? ' form-control-error' : '')"
                               id="newPassword" name="newPassword" type="password"
                               data-element-id="newPassword" autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="confirmPassword">Confirm new password</label>
                        <input th:class="'form-control' + (${param.errornew} ? ' form-control-error' : '')"
                               id="confirmPassword" name="confirmPassword" type="password"
                               data-element-id="confirmPassword" autocomplete="new-password">
                    </div>
                </div>
                <input class="button largeMarginBottom" id="submit" type="submit" role="button"
                       data-element-id="continue-button" value="Save new password">
            </form>
        </div>
    </div>
</div>
</body>
</html>
