<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Password Changed Confirmation</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-full">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Your password has been changed
    </h1>
  </div>
  <p class="govuk-body govuk-!-margin-top-9">
    <a class="govuk-button" th:href="@{/account-details}" id="continue">Continue</a>
  </p>
</div>
</body>
</html>
