<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Change Password</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Your password has expired</h1>
  <p class="govuk-body">
    You need to create a new password to sign in.
  </p>

  <form class="form" th:action="@{/change-password}" method="POST" id="changePasswordForm">
    <div class="govuk-form-group">
      <input id="username" name="username" type="hidden"
             data-element-id="username" th:value="${param.username}">
    </div>
    <div th:class="'govuk-form-group' + (${param.errorcurrent} ? ' govuk-form-group--error' : '')">
      <label class="govuk-label" for="password">Current password</label>
      <div class="govuk-error-message" th:if="${param.errorcurrent}" id="errorcurrent"
           th:switch="${#httpServletRequest.getParameter('errorcurrent')}">
        <th:block th:case="'invalid'">Your password is incorrect. Try again.</th:block>
        <th:block th:case="'missing'">Enter your current password</th:block>
      </div>
      <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password"
             data-element-id="password" autofocus="autofocus" autocomplete="current-password">
    </div>
    <div th:class="${param.errornew} ? ' govuk-form-group--error' : ''">
      <div class="govuk-form-group">
        <label class="govuk-label" for="newPassword">New password</label>
        <div class="govuk-hint">Your password must:
          <ul class="govuk-list--bullet">
            <li>have at least 9 characters (14 characters if an admin)</li>
            <li>have both numbers and letters</li>
            <li>not use special characters, for example &*!'</li>
          </ul>
        </div>
        <div class="govuk-error-message" th:if="${param.errornew}" id="errornew"
             th:switch="${#httpServletRequest.getParameter('errornew')}">
          <th:block th:case="'length9'">Your password must have at least 9 characters</th:block>
          <th:block th:case="'length14'">Your password must have at least 14 characters</th:block>
          <th:block th:case="'username'">Your password cannot include your username</th:block>
          <th:block th:case="'four'">Your password must have at least 4 unique characters</th:block>
          <th:block th:case="'alphanumeric'">Your password must have only letters and numbers
          </th:block>
          <th:block th:case="'nodigits'">Your password must have both letters and numbers</th:block>
          <th:block th:case="'alldigits'">Your password must have both letters and numbers</th:block>
          <th:block th:case="'mismatch'">Your passwords do not match. Enter matching passwords.
          </th:block>
          <th:block th:case="'validation'">Your password does not meet the password rules. Try a
            different password.
          </th:block>
          <th:block th:case="'reused'">Enter a password you have not used before</th:block>
          <th:block th:case="*">There was a problem. Enter your password again.</th:block>
        </div>
        <input th:class="'govuk-input govuk-input--width-20' + (${param.errornew} ? ' govuk-input--error' : '')"
               id="newPassword" name="newPassword" type="password"
               data-element-id="newPassword" autocomplete="new-password">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="confirmPassword">Confirm new password</label>
        <input th:class="'govuk-input govuk-input--width-20' + (${param.errornew} ? ' govuk-input--error' : '')"
               id="confirmPassword" name="confirmPassword" type="password"
               data-element-id="confirmPassword" autocomplete="new-password">
      </div>
    </div>
    <input class="govuk-button" id="submit" type="submit" role="button"
           data-element-id="continue-button" value="Save new password">
  </form>
</div>
</body>
</html>
