<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" th:with="showBack=true">
<head>
  <title>Create Password token resent</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">

  <div class="govuk-panel govuk-panel--confirmation incomplete"
       th:with="link=${#strings.isEmpty(link) ? param.verifyLink : link}">
    <h1 class="govuk-panel__title">Your create a password link has expired</h1>
  </div>
  <div>

    <p class="govuk-body">The link you have selected has now expired. For security, the link was only valid for 7
      days.</p>
    <p class="govuk-body">We have sent you a new link, you need to use this link within 24 hours to create a
      password.</p>
    <p th:if="${link}" class="govuk-body">
      <br>
      <code>application.smoketest.enabled</code> environment variable is set.
      Link that was sent in the email is <a class="govuk-link" id="link" th:href="${link}">here</a>.
    </p>

  </div>
</div>
</body>
</html>
