<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">Sorry, there is a problem with the service</h1>
            </div>
        </div>
        <div>
            <p>
                Try again later.
            </p>
            <a class="button" th:href="@{/login}" id="login">OK, continue</a>
        </div>
    </div>
</div>
</body>
</html>
