<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="govuk-heading-xl">Auth server</h1>

  <div class="govuk-grid-row">
    <h3 class="govuk-heading-m">
      <a th:href="@{nnUrl}">New NOMIS</a>
    </h3>
    <h3 class="govuk-heading-m">
      <a th:href="${hdcUrl}">Home Detention Curfew</a>
    </h3>
    <h3 class="govuk-heading-m">
      <a th:href="@{/ui}">Client Administration</a>
    </h3>
  </div>
</div>
</body>
</html>
