<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>New Password Saved</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      New password saved
    </h1>
  </div>
  <p class="govuk-body">
    You can now <a class="govuk-link" th:href="@{/login}" data-qa="initial-signin">sign in</a> with your new password.
  </p>
</div>
</body>
</html>
