<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="govuk-heading-xl">Select service</h1>

  <div class="govuk-grid-row" th:each="row: ${#numbers.sequence(0, services.size(), 3)}">
    <div th:each="i: ${#numbers.sequence(row, row + 2)}" th:if="${i &lt; services.size()}"
         th:with="service=${services.get(i)}" class="govuk-grid-column-one-third">
      <div class="govuk-card">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">
            <a th:id="${service.code}" th:href="${service.url}" th:text="${service.name}">New NOMIS</a>
          </h3>
          <p class="govuk-body" th:text="${service.description}">
            Some descriptive text
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
