<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="govuk-heading-xl">Select service</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" th:each="service: ${services}">
      <div class="govuk-card"
           sec:authorize="#lists.isEmpty(#vars.service.roles) ? true : hasAnyRole(#vars.service.roles)">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">
            <a th:id="${service.code}" th:href="${service.url}" th:text="${service.name}">New NOMIS</a>
          </h3>
          <p class="govuk-body" th:text="${service.description}">
            Some descriptive text
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
