<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Sign in</title>

  <!--[if !IE 8]><!-->
  <script type="text/javascript">
    function showHide() {
      var pwd = document.getElementById('password');
      var showButton = document.getElementById('show-password');
      if (pwd.getAttribute('type') === 'password') {
        pwd.setAttribute('type', 'text');
        showButton.innerHTML = 'hide';
      } else {
        pwd.setAttribute('type', 'password');
        showButton.innerHTML = 'show';
      }
    }
  </script>
  <!--<![endif]-->

</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
        <div th:if="${@environment.getProperty('application.non-prod-warning.enabled') == 'true'}" class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This is a test service only - it does not contain any real details. Use the live
                <a th:href="${@environment.getProperty('application.non-prod-warning.prod-url')}"
                   >HMPPS Digital Service</a> to view real details.
            </strong>
        </div>
  <div th:unless="${#arrays.isEmpty(param.error)}" class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert"
       data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li th:each="error: ${param.error}" th:switch="${error}">
          <a th:case="'missingpass'" href="#password" th:text="#{login.missingpass}">Missing password</a>
          <a th:case="'invalid'" href="#username"
             th:text="#{login.invalid(${@environment.getProperty('application.authentication.lockout-count')})}">
            Invalid message</a>
          <a th:case="*" href="#username" th:text="#{${'login.' + error}}">Username message</a>
        </li>
      </ul>
    </div>
  </div>
  <div th:if="${param.logout}" class="govuk-warning-text" role="alert">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text" id="warning">
      <span class="govuk-warning-text__assistive">Warning</span>You have been signed out
    </strong>
  </div>
  <form th:action="@{/login}" method="POST" id="loginForm" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sign in</h1>

    <div>
      <div th:with="missinguser=${param.error != null and #arrays.contains(param.error, 'missinguser')}"
           th:class="'govuk-form-group' + (${missinguser} ? ' govuk-form-group--error' : '')">
        <label class="govuk-label" for="username">Username</label>
        <span th:if="${missinguser}" id="username-error" class="govuk-error-message" th:text="#{login.missinguser}">
          Missing user
        </span>
        <input
            th:class="'govuk-input' + (${missinguser} ? ' govuk-input--error' : '')"
            id="username" name="username" type="text" autofocus="autofocus" autocomplete="username"
            data-element-id="username" aria-describedby="username-error">
      </div>
      <div th:with="missingpass=${param.error != null and #arrays.contains(param.error, 'missingpass')}"
           th:class="'govuk-form-group' + (${missingpass} ? ' govuk-form-group--error' : '')">
        <label class="govuk-label" for="password">Password</label>
        <span th:if="${missingpass}" id="password-error" class="govuk-error-message" th:text="#{login.missingpass}">
          Missing password
        </span>
        <div class="show-password">
          <input
              th:class="'govuk-input' + (${missingpass} ? ' govuk-input--error' : '')"
              id="password" name="password" type="password" autocomplete="current-password"
              data-element-id="password" aria-describedby="password-error">
          <button type="button" onclick="showHide()" id="show-password" class="govuk-button" data-module="govuk-button">
            show
          </button>
        </div>
      </div>
    </div>
    <div class="govuk-form-group">
      <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
             value="Sign in">
    </div>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">Problems signing in</h2>
      <ul class="govuk-list">
        <li><a th:href="@{/reset-password}" id="forgotten-password">I have forgotten my password</a></li>
      </ul>
    </div>
  </form>
  <details class="govuk-details govuk-form-group" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Why won’t my password work?
        </span>
    </summary>
    <div class="govuk-details__text">
      <p>
        Your password is case sensitive which means you must enter your password exactly as you first created it. For
        example if your password is <strong>H3LloWorlD</strong> you must enter it exactly like that.
      </p>
    </div>
  </details>
</div>
</body>
</html>
