<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Two Factor Authentication</title>

</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div th:unless="${#arrays.isEmpty(param.error)}" class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert"
       data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li th:each="error: ${param.error}" th:switch="${error}">
          <a th:case="'missingcode'" href="#code" th:text="#{mfa.missingcode}">Missing code</a>
          <a th:case="'invalid'" href="#username"
             th:text="#{mfa.invalid(${@environment.getProperty('application.authentication.lockout-count')})}">
            Invalid message</a>
          <a th:case="*" href="#username" th:text="#{${'mfa.' + error}}">Username message</a>
        </li>
      </ul>
    </div>
  </div>
  <h1 class="govuk-heading-xl">Two factor authentication</h1>

  <form th:action="@{/mfa-challenge}" method="POST" id="mfaForm" class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <input id="token" name="token" type="hidden" data-element-id="token"
             th:value="${#strings.isEmpty(token) ? param.token : token}">
    </div>

    <div>
      <div th:with="missingcode=${param.error != null and #arrays.contains(param.error, 'missingcode')}"
           th:class="'govuk-form-group' + (${missingcode} ? ' govuk-form-group--error' : '')">
        <label class="govuk-label" for="code">Code</label>
        <span th:if="${missingcode}" id="password-error" class="govuk-error-message" th:text="#{mfa.missingcode}">
          Missing code
        </span>
        <input
            th:class="'govuk-input' + (${missingcode} ? ' govuk-input--error' : '')"
            id="code" name="code" type="password" autocomplete="current-code"
            data-element-id="code" aria-describedby="code-error">
      </div>
    </div>
    <div class="govuk-form-group">
      <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
             value="Sign in">
    </div>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">Problems signing in</h2>
      <ul class="govuk-list">
        <li><a th:href="@{/reset-password}" id="forgotten-password">I have forgotten my password</a></li>
      </ul>
    </div>
  </form>
  <details class="govuk-details govuk-form-group" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Why won’t my password work?
        </span>
    </summary>
    <div class="govuk-details__text">
      <p>
        Your password is case sensitive which means you must enter your password exactly as you first created it. For
        example if your password is <strong>H3LloWorlD</strong> you must enter it exactly like that.
      </p>
    </div>
  </details>
</div>
</body>
</html>
