<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Security Code Preference</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div th:if="${error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
       data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a th:href="${'#code'}" th:text="#{${'mfa.' + error}}">Security code message</a>
        </li>
      </ul>
    </div>
  </div>

  <form class="form" th:action="@{/mfa-preference}" method="POST" id="mfaPreference">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            How would you prefer to receive your security code?
          </h1>
        </legend>
        <span id="mfa-pref-hint" class="govuk-hint">
          A security code will be sent every time you log in from an unapproved network
    </span>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mfa-pref-email" name="mfaPreference" type="radio" value="EMAIL"
                   aria-describedby="mfa-pref-email-item-hint"
                   th:checked="(${#strings.equals(current, 'EMAIL')})">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="mfa-pref-email">
              By email
            </label>
            <span id="mfa-pref-email-item-hint" class="govuk-hint govuk-radios__hint">
          You will receive a 6 digit number to <span data-qa="email" th:text="${email}">your email</span>
        </span>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mfa-pref-text" name="mfaPreference" type="radio" value="TEXT"
                   aria-describedby="mfa-pref-text-item-hint"
                   th:checked="(${#strings.equals(current, 'TEXT')})">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="mfa-pref-text">
              By text message
            </label>
            <span id="mfa-pref-text-item-hint" class="govuk-hint govuk-radios__hint">
              <span th:if="${text}">
                You will receive a 6 digit number to <span data-qa="text" th:text="${text}">your mobile</span> by text message
              </span>
              <span th:unless="${text}">
                You will need to add and verify a mobile number
              </span>
            </span>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mfa-pref-secondary-email" name="mfaPreference" type="radio"
                   value="SECONDARY_EMAIL"
                   aria-describedby="mfa-pref-secondary-email-item-hint"
                   th:checked="(${#strings.equals(current, 'SECONDARY_EMAIL')})">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="mfa-pref-secondary-email">
              By secondary email
            </label>
            <span id="mfa-pref-secondary-email-item-hint" class="govuk-hint govuk-radios__hint">
              <span th:if="${secondaryemail}">
                You will receive a 6 digit number to <span data-qa="text" th:text="${secondaryemail}">your secondary email</span>
              </span>
              <span th:unless="${secondaryemail}">
                You will need to add and verify a secondary email
              </span>
            </span>
          </div>
        </div>
        <div class="govuk-form-group">
          <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
                 value="Save">
        </div>
      </fieldset>
    </div>
  </form>
</div>
</body>
</html>
