<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Resend Verification Code</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-full"
     th:with="token=${#strings.isEmpty(token) ? param.token : token}">

  <h1 class="govuk-heading-l">Resend security code</h1>

  <p class="govuk-body" th:if="${#strings.equals(mfaPreference, 'TEXT')}">Text messages sometimes take a few minutes to
    arrive. If you do not receive the text message,
    you can resend it.</p>
  <p class="govuk-body" th:unless="${#strings.equals(mfaPreference, 'TEXT')}">Emails sometimes take a few minutes to
    arrive. If you do not receive the email, you can resend
    it.</p>

  <form th:action="@{/account/mfa-resend}" method="POST" id="mfaForm" autocomplete="off" novalidate>
    <div class="govuk-form-group">
      <input id="contactType" name="contactType" type="hidden" data-element-id="contactType" th:value="${contactType}">
      <input id="token" name="token" type="hidden" data-element-id="token" th:value="${token}">
      <input id="mfaPreference" name="mfaPreference" type="hidden" data-element-id="mfaPreference"
             th:value="${mfaPreference}">
    </div>
    <div class="govuk-radios">
      <div th:if="${mobile} != null" class="govuk-radios__item">
        <input class="govuk-radios__input" id="mfa-pref-text" name="mfaResendPreference" type="radio" value="TEXT"
               aria-describedby="mfa-pref-text-item-hint"
               th:checked="(${#strings.equals(mfaPreference, 'TEXT')})">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="mfa-pref-text">
          By text message
        </label>
        <span id="mfa-pref-text-item-hint" class="govuk-hint govuk-radios__hint">
         You’ll receive a 6 digit number to your mobile <span data-qa="text" th:text="${mobile}">your mobile</span> by text message
        </span>
      </div>
      <div th:if="${email} != null" class="govuk-radios__item">
        <input class="govuk-radios__input" id="mfa-pref-email" name="mfaResendPreference" type="radio" value="EMAIL"
               aria-describedby="mfa-pref-email-item-hint"
               th:checked="(${#strings.equals(mfaPreference, 'EMAIL')})">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="mfa-pref-email">
          By email
        </label>
        <span id="mfa-pref-email-item-hint" class="govuk-hint govuk-radios__hint">
          You’ll receive a 6 digit number to your email <span data-qa="text" th:text="${email}">address</span>
        </span>
      </div>
      <div th:if="${secondaryemail} != null" class="govuk-radios__item">
        <input class="govuk-radios__input" id="mfa-pref-secondary-email" name="mfaResendPreference" type="radio"
               value="SECONDARY_EMAIL"
               aria-describedby="mfa-pref-backup-email-item-hint"
               th:checked="(${#strings.equals(mfaPreference, 'SECONDARY_EMAIL')})">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="mfa-pref-secondary-email">
          By backup email
        </label>
        <span id="mfa-pref-backup-email-item-hint" class="govuk-hint govuk-radios__hint">
          You’ll receive a 6 digit number to your backup email <span data-qa="text"
                                                                     th:text="${secondaryemail}">address</span>
        </span>
      </div>
    </div>
    <div class="govuk-form-group">
      <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="resend-button"
             value="Resend security code">
    </div>
  </form>
</div>
</body>
</html>
