<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" th:with="showBack=true">
<head>
  <title>Reset Password Email Sent</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Check your email</h1>
  <div>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      If we have found an account for you with a verified email address then we will have sent you an email. Please
      click the link in the email to reset your password.
    </p>
    <p th:if="${resetLink}" class="govuk-body">
      <br>
      <code>application.smoketest.enabled</code> environment variable is set.
      Link that was sent in the email is <a class="govuk-link" id="resetLink" th:href="${resetLink}">here</a>.
    </p>
    <p th:if="${resetLinkMissing}" class="govuk-body">
      <br>
      <code>application.smoketest.enabled</code> environment variable is set.
      No link to reset the password was sent to the user.
    </p>
  </div>
</div>
</body>
</html>
