<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Reset Password</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <a th:href="@{/login}" class="govuk-back-link" id="back-link">Back</a>

  <div th:if="${error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
       data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#username" th:text="#{${'resetpassword.' + error}}">Missing password</a>
        </li>
      </ul>
    </div>
  </div>


  <h1 class="govuk-heading-xl">Reset your password</h1>

  <p class="govuk-body">
    You need to tell us your username so we can try to find a record of you. If you have not verified your email
    address yet then you will be unable to reset your password here.
  </p>

  <form th:action="@{/reset-password}" method="POST" id="resetPasswordForm" class="govuk-input-w">
    <div th:class="'govuk-form-group' + (${error} ? ' govuk-form-group--error' : '')">
      <label class="govuk-label" for="username">Username</label>
      <span th:if="${error}" id="username-error" class="govuk-error-message"
            th:text="#{${'resetpassword.' + error}}">
          Missing user
        </span>
      <input class="govuk-input govuk-!-width-two-thirds" id="username" name="username" type="text"
             autofocus="autofocus" data-element-id="username" aria-describedby="username-error">
    </div>
    <div class="govuk-form-group">
      <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
             value="Continue">
    </div>
  </form>
</div>
</body>
</html>
