<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Reset Password Success</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Reset password successful
    </h1>
  </div>
  <p class="govuk-body">
     We have sent you an email with a reminder of your username. You can now <a class="govuk-link" th:href="@{/login}">sign in</a> with your new password.
  </p>
</div>
</body>
</html>
