<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Set Password</title>

  <!--[if !IE 8]><!-->
  <script type="text/javascript">
    function showHide(field) {
      var pwd = document.getElementById(field);
      var showButton = document.getElementById('show-' + field);
      if (pwd.getAttribute('type') === 'password') {
        pwd.setAttribute('type', 'text');
        showButton.innerHTML = 'hide';
      } else {
        pwd.setAttribute('type', 'password');
        showButton.innerHTML = 'show';
      }
    }
  </script>
  <!--<![endif]-->
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div
      th:unless="${#arrays.isEmpty(errornew) and #arrays.isEmpty(errorconfirm)}"
      class="govuk-error-summary"
      aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">

        <li th:unless="${#arrays.isEmpty(errornew)}" th:each="error: ${errornew}">
          <a th:text="#{${'setpassword.' + error}}" href="#new-password">New password message</a>
        </li>
        <li th:unless="${#arrays.isEmpty(errorconfirm)}" th:each="error: ${errorconfirm}">
          <a th:text="#{${'setpassword.' + error}}" href="#confirm-password">Confirm new password message</a>
        </li>
      </ul>
    </div>
  </div>

  <h1 class="govuk-heading-xl">Enter a new password</h1>

  <form class="form" th:action="@{/set-password}" method="POST" id="setPasswordForm">
    <div class="govuk-form-group">
      <input id="token" name="token" type="hidden" data-element-id="token" th:value="${token}">
      <input id="context" name="context" type="hidden" data-element-id="context" th:value="${context}">
    </div>
    <div th:class="${errornew} ? ' govuk-form-group--error' : ''">
      <div class="govuk-form-group">
        <label class="govuk-label" for="new-password">New password</label>
        <div class="govuk-hint">Your password must:
          <ul class="govuk-list--bullet">
            <li>have at least <span id="chars" th:text="${isAdmin ? '14' : '9'}">char</span> characters</li>
            <li>have both numbers and letters</li>
            <li>not use special characters, for example &*!'</li>
          </ul>
        </div>
        <span th:unless="${#arrays.isEmpty(errornew)}" id="errornew" class="govuk-error-message">
          <th:block th:each="error: ${errornew}">
            <th:block th:text="#{${'setpassword.' + error}}">Missing new</th:block><br>
          </th:block>
        </span>
        <div class="show-password">
          <input th:class="'govuk-input' + (${errornew} ? ' govuk-input--error' : '')"
                 id="new-password" name="newPassword" type="password" aria-describedby="errornew"
                 data-element-id="newPassword" autocomplete="new-password">
          <button type="button" onclick="showHide('new-password')" id="show-new-password" class="govuk-button">
            show
          </button>
        </div>
      </div>
    </div>
    <div th:class="${errorconfirm} ? ' govuk-form-group--error' : ''">
      <div class="govuk-form-group">
        <label class="govuk-label" for="confirm-password">Confirm new password</label>
        <span th:unless="${#arrays.isEmpty(errorconfirm)}" id="errorconfirm" class="govuk-error-message"
              th:text="#{${'setpassword.' + errorconfirm}}">
          Missing confirm new
        </span>
        <div class="show-password">
          <input th:class="'govuk-input' + (${errorconfirm} ? ' govuk-input--error' : '')"
                 id="confirm-password" name="confirmPassword" type="password" aria-describedby="errorconfirm"
                 data-element-id="confirmPassword" autocomplete="new-password">
          <button type="button" onclick="showHide('confirm-password')" id="show-confirm-password"
                  class="govuk-button">show
          </button>
        </div>
      </div>
    </div>
    <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
           value="Save new password">
  </form>
</div>
</body>
</html>
