<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Select user</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="govuk-heading-l">Select user</h1>

  <p class="govuk-body">
    We have found multiple user accounts that match your email address.
    Please select the one you would like to use to access the service.
  </p>

  <form id="confirmationForm" name="confirmationForm" th:action="@{/user-selector}" method="POST">
    <div class="govuk-radios">
      <div class="govuk-radios__item" th:each="user, iter: ${users}">
        <input class="govuk-radios__input" th:id="${user.userId}" name="user_oauth_approval" type="radio"
               th:value="${user.authSource + '/' + user.username}" aria-describedby="mfa-pref-email-item-hint"/>
        <label class="govuk-label govuk-radios__label govuk-label--s" th:for="${user.userId}"
               th:text="${#strings.capitalize(user.authSource) + ': ' + user.username}">
          NOMIS: Itag User (ITAG_USER)
        </label>
      </div>
    </div>
    <p class="govuk-body">
      <input type="hidden" name="requireMfa" th:value="${requireMfa}">
    </p>
    <input class="govuk-button" name="authorize" value="Select" type="submit"/>
  </form>
</div>
</body>
</html>
