<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="govuk-heading-l">Select user</h1>

  <p class="govuk-body">
    Select the user account.
  </p>

  <form id="confirmationForm" name="confirmationForm" th:action="@{/oauth/authorize}" method="POST">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="approval1" name="user_oauth_approval" type="radio"
               value="nomis/ITAG_USER"
               aria-describedby="mfa-pref-email-item-hint"/>
        <label class="govuk-label govuk-radios__label govuk-label--s" for="approval1">
          NOMIS: Itag User (ITAG_USER)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="approval2" name="user_oauth_approval" type="radio"
               value="nomis/ITAG_USER_ADM"
               aria-describedby="mfa-pref-email-item-hint"/>
        <label class="govuk-label govuk-radios__label govuk-label--s" for="approval2">
          NOMIS: Itag User (ITAG_USER_ADM)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="approval3" name="user_oauth_approval" type="radio"
               value="delius/ITAGUSER"
               aria-describedby="mfa-pref-email-item-hint"/>
        <label class="govuk-label govuk-radios__label govuk-label--s" for="approval3">
          DELIUS: Itag User (ITAGUSER)
        </label>
      </div>
    </div>
    <p class="govuk-body">
    </p>
    <input class="govuk-button" name="authorize" value="Authorize" type="submit"/>
  </form>
</div>
</body>
</html>
