<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Resend Verification Code</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Send another text message
  </h1>
  <p class="govuk-body">
    We will send another text message to your mobile phone with a security code.
  </p>
  <form th:action="@{/verify-mobile-resend}" method="POST" id="mobileForm" autocomplete="off" novalidate>
    <div class="govuk-form-group">
      <input id="token" name="token" type="hidden" data-element-id="token" th:value="${token}">
    </div>
    <div class="govuk-form-group">
      <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="resend-button"
             value="Send text">
    </div>
  </form>
</div>
</body>
</html>
