<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Verify Mobile Code Sent</title>

</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <!--     th:with="token=${#strings.isEmpty(token) ? param.token : token}">-->
  <div th:unless="${#arrays.isEmpty(error)}" class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert"
       data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li th:each="error: ${error}" th:switch="${error}">
          <a th:case="'missingcode'" href="#code" th:text="#{verifymobile.missingcode}">Missing code</a>
          <a th:case="'invalid'" href="#code" th:text="#{verifymobile.invalid}">Invalid message</a>
          <a th:case="*" href="#code" th:text="#{${'verifymobile.' + error}}">Username message</a>
        </li>
      </ul>
    </div>
  </div>
  <h1 class="govuk-heading-xl">Check your phone</h1>

  <p class="govuk-body">We've sent you a text message with a security code.</p>

  <form th:action="@{/verify-mobile}" method="POST" id="verifyMobileForm" autocomplete="off" novalidate>
    <div>
      <div th:with="missingcode=${error != null and #arrays.contains(error, 'missingcode')}"
           th:class="'govuk-form-group' + (${error} ? ' govuk-form-group--error' : '')">
        <label class="govuk-label" for="code">Text message code</label>
        <span id="code-hint" class="govuk-hint">
          For example 321456
        </span>
        <span th:if="${error}" id="code-error" class="govuk-error-message" th:text="#{verifymobile.missingcode}">
          Missing code
        </span>
        <input
            th:class="'govuk-input--width-4 govuk-input' + (${error} ? ' govuk-input--error' : '')"
            id="code" name="code" type="tel" pattern="[0-9]*" autocomplete="off" autocapitalize="off"
            spellcheck="false" data-element-id="code" aria-describedby="code-error" maxlength="6">
      </div>
    </div>
    <div class="govuk-form-group">
      <input class="govuk-button" id="submit" type="submit" role="button" data-element-id="continue-button"
             value="Continue">
    </div>
  </form>

  <div class="govuk-form-group">
    <ul class="govuk-list">
      <li><a th:href="@{/mobile-resend}" id="resend-mobile-code">Not received a text message?</a></li>
    </ul>
  </div>

  <p th:if="${param.verifyCode}" class="govuk-body">
    <br>
    <code>application.smoketest.enabled</code> environment variable is set.
    Code that was sent in the email is <span data-qa="verifyCode" th:text="${param.verifyCode}">123456</span>.
  </p>
</div>
</body>
</html>
