<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Verify Email Sent</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-three-quarters">
  <div class="govuk-panel govuk-panel--confirmation incomplete">
    <h1 class="govuk-panel__title" th:if="${#strings.equals(emailType, 'PRIMARY')}">
      Verify your email address to complete the change
    </h1>
    <h1 class="govuk-panel__title" th:unless="${#strings.equals(emailType, 'PRIMARY')}">
      Verify your backup email address to complete the change
    </h1>
  </div>
  <div th:with="verifyLink=${#strings.isEmpty(verifyLink) ? param.verifyLink : verifyLink}">
    <p class="govuk-body">Your details have been updated but you must verify the email address.</p>
    <p class="govuk-body">We have sent you an email. Click on the link in the email to verify your address.</p>
    <p class="govuk-body">This link will expire after 24 hours for security reasons.</p>
    <p class="govuk-body">
      <a class="govuk-button" role="button" th:href="@{/verify-email-continue}">Continue</a>
    </p>
    <p th:if="${verifyLink}" class="govuk-body">
      <br>
      <code>application.smoketest.enabled</code> environment variable is set.
      Link that was sent in the email is <a class="govuk-link" id="verifyLink" th:href="${verifyLink}">here</a>.
    </p>
  </div>
</div>
</body>
</html>
