<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Verify Email</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div th:if="${error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
       data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body" id="error-detail">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#email" th:text="#{${'verifyemail.' + error}}">Verify email message</a>
        </li>
      </ul>
    </div>
  </div>

  <div role="alert">
    <h1 class="govuk-heading-xl">Verify your email address</h1>
    <p class="govuk-body">
      <th:block th:text="${suggestion != null} ? 'Verify' : 'Provide'">Choose</th:block>
      your email address so you can reset your password and receive emails about your account.
    </p>
  </div>

  <form class="form" th:action="@{/verify-email}" method="POST" id="verifyEmailForm">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" th:unless="${#lists.isEmpty(candidates)}">
        <h2 class="govuk-fieldset__legend--m">
          Select your email address
        </h2>
      </legend>
      <div th:unless="${#lists.isEmpty(candidates)}" class="govuk-form-group">
        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
          <div th:each="candidate, iter: ${candidates}" class="govuk-radios__item">
            <input th:id="${'candidate' + iter.index}" th:value="${candidate}" class="govuk-radios__input"
                   name="candidate" type="radio">
            <label th:for="${'candidate' + iter.index}" th:text="${candidate}" class="govuk-label govuk-radios__label">
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="candidate-other" name="candidate" type="radio" value="other"
                   data-aria-controls="conditional-candidate-other">
            <label class="govuk-label govuk-radios__label" for="candidate-other">
              I’d like to provide a different email address
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-candidate-other">
            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Enter email address
              </label>
              <input class="govuk-input" id="email" name="email" type="email">
            </div>
          </div>
        </div>
      </div>

      <div th:if="${suggestion}">
        <p class="govuk-body">
          The following email address is currently linked to your account - you can amend it if it’s wrong.
        </p>
      </div>

      <div th:class="'govuk-form-group' + (${error} ? ' govuk-form-group--error' : '')"
           th:if="${#lists.isEmpty(candidates)}">
        <label class="govuk-label" for="email">
          <th:block th:text="${suggestion == null} ? 'Enter email' : 'Email'"/>
          address
        </label>
        <span th:if="${error}" id="email-error" class="govuk-error-message"
              th:text="#{${'verifyemail.' + error}}">
        Missing user
      </span>
        <input th:class="'govuk-input' + (${error} ? ' govuk-input--error' : '')" id="email" name="email" type="text"
               data-element-id="email" autofocus="autofocus" th:value="${suggestion != null ? suggestion : email}"
               aria-describedby="email-error">
      </div>

      <div class="govuk-form-group">
        <input class="govuk-button" id="submit" type="submit" role="button"
               data-element-id="continue-button" value="Save">
        <a class="govuk-button" role="button" id="cancel"
           th:href="@{/verify-email-continue}"
           th:text="${#lists.isEmpty(candidates) ? 'Skip for now' : 'Update later'}">Cancel</a>
      </div>
    </fieldset>
  </form>
</div>
</body>
</html>
