<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Verify Mobile Confirmation</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Your mobile number has been verified
    </h1>
  </div>
  <a class="govuk-button" th:href="@{/account-details}" id="continue">Continue</a>
</div>
</body>
</html>
