<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Verify Mobile Confirmation</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Mobile already verified</h1>
  <p class="govuk-body">Your mobile number has already been verified</p>
  <a class="govuk-button" th:href="@{/account-details}" id="continue">OK, continue</a>
</div>
</body>
</html>
